/target
Cargo.lock

# output from memory usage tess
/dhat-output

# fuzzing artifacts
default.profraw

# ide
.vscode/

# profiling workload data
/profiling-data
profile.json

# coverage info
lcov.info

# perf data
perf.data*

# cargo-mutants data
/mutants.out
/mutants.out.old