[package]
name = "blart"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
memchr = "2.5.0"

[dependencies.tinyvec]
version = "1.6.0"
features = ["std", "rustc_1_57"]

[dev-dependencies]
argh = "0.1.7"
criterion = { version = "0.3.5", features = ["html_reports"] }
criterion-perf-events = "0.1.4"
perfcnt = "0.7.2"
dhat = "0.3.0"
rustc-hash = "1.1.0"

[[bench]]
name = "raw_apis"
harness = false
