# cargo-features = ["profile-rustflags"]

[package]
name = "blart"
version = "0.1.2"
description = "An implementation of an adaptive radix tree packaged as a BTreeMap replacement"
repository = "https://github.com/declanvk/blart"
readme = "README.md"
edition = "2021"
license = "MIT OR Apache-2.0"
keywords = ["tree", "map", "collection", "radix-tree"]
categories = ["data-structures"]
rust-version = "1.78"

exclude = [
    "fuzz/",
    "scripts/",
    "rustfmt.toml",
    "examples/example-data/",
    ".github/",
]

[dependencies]
bytemuck = { version = "1.16.1", features = ["min_const_generics"] }
paste = "1.0.15"
sptr = "0.3.2"

[features]
nightly = []
bench-perf-events = []

[dev-dependencies]
argh = "0.1.12"
criterion = "0.5.1"
dhat = "0.3.3"
paste = "1.0.15"
# criterion-perf-events = "0.4.0"
# perfcnt = "0.8.0"
rand = "0.8.5"
rustc-hash = "2.0.0"

[[bench]]
name = "generated_get"
harness = false

[[bench]]
name = "generated_insert"
harness = false

[[bench]]
name = "dict_insert"
harness = false

[[bench]]
name = "fuzzy"
harness = false

[[bench]]
name = "dict_get"
harness = false

[[bench]]
name = "min_max"
harness = false

[[bench]]
name = "match_prefix"
harness = false

[[bench]]
name = "entry"
harness = false

[[bench]]
name = "iter"
harness = false

[[bench]]
name = "clone"
harness = false

[[bench]]
name = "fixed_header"
harness = false

# [profile.release]
# codegen-units = 1
# lto = "fat"
# panic = "abort"
# incremental = false
# rustflags = ["-C", "target-cpu=native", "-Z", "tune-cpu=native"]